div
{
    border-radius: 5px;
    }

#name {
      float:left;
    	margin-left: 10px;
    	padding-bottom: 10px;
    	font-size: 28px;
      height:20px;
      background-color: #4d4e63
    	font-family: Verdana, sans-serif;
    	color: #000000;
    }
#heading
{
   font-weight:bold;
}
#table
{
    margin-top: 20px;
    }

td
{
    padding: 2px;
    border: 1px solid #000000;
    }


#uni{
      float:right;
      margin-right: 20px;
    	font-size: 16px;
    	font-family: Verdana, sans-serif;
    	color: #000000;
    }
.education
{
     float: left;
     margin-top: 10px;
     padding-left:5px;
     /*margin-right: -10px;
     margin-left: 14%;*/
     height: auto;
     width: 99%;
}
.paragrah
{
  float: left;
  background-color: #00AA8D
      margin-top: 3px;
      margin-bottom: 3px;
      padding-left:5px;
      /*margin-right: -10px;
      margin-left: 14%;*/
      height: auto;
      width: 99%;

}
.right
    {   float: left;
        margin-top: 10px;
        margin-bottom: 5px
        padding-left:5px;
        /*margin-right: -10px;
        margin-left: 14%;*/
        height: auto;
        width: 99%;
        background-color: #00BF9A;
        }
